
.product-page {
  text-align: center;
  padding: 20px;
  background-color: #c3f7f3; 
}

h1 {
  margin-bottom: 20px;
}

.category-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-button {
  background-color: #ffdd01;
  border: none;
  border-radius: 25px; 
  padding: 10px 20px; 
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}
.icon.in-wishlist {
  color: red; 
}

.category-button.active, .category-button:hover {
  background-color: #e1c700;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-name {
  font-size: 18px;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  color: #888;
}

.product-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.icon {
  cursor: pointer;
  color: #ffdd01;
  transition: color 0.3s;
  font-size: 30px;
}

.icon:hover {
  color: #e1c700;
}

.buy-button {
  background-color: #ffdd01;
  border: none;
  border-radius: 4px;
  padding: 5px 25px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #e1c700;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffdd01;
  padding: 10px 20px;
  border-radius: 5px;
  color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
