.product-page {
  text-align: center;
  padding: 20px;
  background-color: #c3f7f3;
}

h1 {
  margin-bottom: 20px;
}

.category-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.brand-button {
  background-color: #ffdd01;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.brand-button.active, .brand-button:hover {
  background-color: #e1c700;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 500px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product-name {
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
}

.product-price {
  font-size: 16px;
  color: #888;
  text-align: center;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.icon {
  cursor: pointer;
  color: #ffdd01;
  transition: color 0.3s;
  font-size: 40px;
  margin: 0 5px;
}

.icon:hover {
  color: #e1c700;
}

.buy-button {
  background-color: #ffdd01;
  border: none;
  border-radius: 4px;
  padding: 5px 25px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: background-color 0.3s;
}
.icon.active {
  color: red;
}

.buy-button:hover {
  background-color: #e1c700;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffdd01;
  padding: 10px 20px;
  border-radius: 5px;
  color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.notification.wishlist {
  background-color: #26e45c; /* Red for wishlist notifications */
}

