.payment-done-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  perspective: 1000px; /* Perspective for the 3D effect */
}

.payment-done-box {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow to give depth */
  transform: rotateX(10deg) rotateY(0deg); /* Rotate to add 3D effect */
  transition: transform 0.3s, box-shadow 0.3s, background 1s; /* Smooth transition */
  animation: colorShift 5s infinite; /* Add animation for color shift */
}

@keyframes colorShift {
  0% {
    background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  }
  50% {
    background: linear-gradient(135deg, #e0e0e0, #f0f0f0);
  }
  100% {
    background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  }
}

.payment-done-box:hover {
  transform: rotateX(0deg) rotateY(10deg); /* Adjust rotation on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.checkmark {
  font-size: 50px;
}

.payment-done-box img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* button:hover {
  background-color: #218838;
} */
